*{
    margin: 0%; ;
    padding: 0%; ;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%; 
    background-color: rgb(0, 0, 0);
}
#main{
    height: 100%;
    width: 100%;
  align-items: center;
    display: flex;
 justify-content: center;
}

.card{
    position: absolute;
     top: 50%; 
     left: 50%; 
    transform: translate(-50%,-50%);
    height: 300px;
    width: 230px;
    border: 1px solid rgb(255, 249, 248);
    border-radius: 20px;
    overflow: hidden;
}
#card1{
   
    rotate: -28deg;

}
#card2{
    background-color: rgb(250, 220, 220);
    rotate:-21deg;
}
#card3{
    background-color: rgb(134, 86, 86);
    rotate:-14deg;
}
#card4{
    background-color: rgb(133, 150, 205);
    rotate: -7deg;
}
#card5{
    background-color: rgb(183, 244, 122);
    rotate: 0deg;
}
#card1:hover{
    background-color: rgb(218, 146, 146);
    z-index: 5;

}
#card2:hover{
    background-color: rgb(87, 141, 141);
    z-index: 5;
}
#card3:hover{
    background-color: rgb(220, 240, 154);
    z-index: 5;
}
#card4:hover{
    background-color: rgb(168, 166, 167);
    z-index: 5;
}
#card5:hover{
    background-color: rgb(238, 212, 237);
    
}
img{
    height: 100%; 
    width: 100%;
}
